!!! 5
%html.devise-layout-html{ class: system_message_class }
  = render "layouts/head"
  %body.ui-indigo.login-page.application.navless{ class: "#{client_class_list}", data: { page: body_data_page, qa_selector: 'login_page' } }
    = header_message
    = render "layouts/init_client_detection_flags"
    .page-wrap
      = render "layouts/header/empty"
      .login-page-broadcast
        = render "layouts/broadcast"
      .container.navless-container
        .content
          = render "layouts/flash"
          .row.mb-3
            .col-sm-4.order-12.order-sm-1.brand-holder
              - if Gitlab::CurrentSettings.sign_in_text.present?
                = markdown_field(Gitlab::CurrentSettings.current_application_settings, :sign_in_text)

              = render_if_exists 'layouts/devise_help_text'

            .col-sm-4.order-1.order-sm-2.new-session-forms-container
              = yield

            .col-sm-4.order-0.order-sm-3

      = render 'devise/shared/footer', footer_message: footer_message
